{% extends "network/layout.html" %}

{% block content %}
<script>
    function submit_post() {
            txtarea = document.getElementById("new_post").value 
            console.log(txtarea.length)
            if (txtarea.length > 0)
                num_chars = txtarea.length
            if ( num_chars > 1000) {
                alert("You have exceeded the 1,000 character limit with " + num_chars + " characters")
                return false
            } 
            if (num_chars < 10) {
                alert("Only " + num_chars + " characters? Go on, type more. At least a 10.")
                return false
            }
    
            data = {
                new_post_title: new_title.value,
                new_post: new_post.value,
            }
    
                var ajax = new XMLHttpRequest()
                ajax.open("POST", "new_post")
                ajax.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
                ajax.onreadystatechange = function(response)
                {
                    console.log(response, this.status, this.readyState)
    
                    if (this.readyState == 4) {
                        window.location = "post/" + this.responseText
                    }
                }
    
                var formData = new FormData()
                for(var i in data)
                    formData.append(i, data[i]);
    
                ajax.send(formData)
    
        }
    </script> 
{% endblock %}
{% block body %}

    TODO
    <div>
        <input type="text" id="new_title" name="new_title" maxlength="100" placeholder="Title"/>
        <br/>
        <textarea id="new_post" name="new_post" maxlength="2000" placeholder="Please write...">
        </textarea>
        <br/>
        <button onclick="submit_post()"> Submit Post </button>

        
    
    {% for post in page_obj %}       
    {% include "./display_post.html" %}
    <br/>
    {% endfor %}
   
    <div class="pagination">
   
        <span class="step-links">
            
<nav aria-label="Page navigation example">
    <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% endif %}
    
            <li class="page-item"><a class="page-link" href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>
    
            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
            {% endif %}
     </ul>
</nav>  
 {% endblock %}