{% extends "network/layout.html" %}
{% block content %}
<script>
    function submit_post() {
            alert("HELLO TEST ")
            txtarea = document.getElementById("new_post").value 
            print(txtarea.length)
            if len(txtarea) > 0:
                num_chars = txtarea.length
            if ( num_chars > 1000) {
                alert("You have exceeded the 10,00 character limit with " + num_chars + " characters")
                return false
            } 
            if (num_chars < 100) {
                alert("Only " + num_chars + " characters? Go on, type more. At least a 100.")
                return false
            }
    
            data = {
                new_ramble_title: new_ramble_title.value,
                new_ramble_post: tinyMCE.activeEditor.getContent(),
                new_ramble_tags: new_ramble_tags.value
            }
    
                var ajax = new XMLHttpRequest()
                ajax.open("POST", "ramblepost")
                ajax.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
                ajax.onreadystatechange = function(response)
                {
                    console.log(response, this.status, this.readyState)
    
                    if (this.readyState == 4) {
                        window.location = "post/" + this.responseText
                    }
                }
    
                var formData = new FormData()
                for(var i in data)
                    formData.append(i, data[i]);
    
                ajax.send(formData)
    
        }
    </script> 
{% endblock %}
{% block body %}

    TODO
    <div>
        <input type="text" id="new_title" name="new_title" maxlength="100" placeholder="Title"/>
        <br/>
        <textarea id="new_post" name="new_post" maxlength="2000" placeholder="Please write...">
        </textarea>
        <br/>
        <button onclick="submit_post()"> Submit Post </button>

    </div>
{% endblock %}