.post {
	background: #aaa;
	padding: 6px 6px 6px 20px;
	margin: 18px 0 18px;
	border-radius: 3px;
	box-shadow: 0 0 9px #c7c7c7;
}

.post-username {
    margin-left: 18px;
    background: #bbb;
    font-size: 12px;
}
.followbutton {
	background: blue;
	border: none;
	padding: 5px 10px;
	color: whitesmoke;
	width: 120px;
	border-radius: 5px;
	transition: all .3s ease-in;
  }
  
.followbutton:active {
outline: none;
}

.followbutton:visited {
outline: none;
}

.unfollow {
background: red;
color: white;
}