.post {
	background: #aaa;
	padding: 6px 6px 6px 20px;
	margin: 18px 0 18px;
	border-radius: 3px;
	box-shadow: 0 0 9px #c7c7c7;
}

.post-username {
    margin-left: 18px;
    background: #bbb;
    font-size: 12px;
}